# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
Comet.Web/.vscode/
Comet.Web/npm-debug.log*

Comet.Web/.idea/
Comet.Web/.sourcemaps/
Comet.Web/.sass-cache/
Comet.Web/.tmp/
Comet.Web/.versions/
Comet.Web/coverage/
Comet.Web/dist/
Comet.Web/node_modules/
Comet.Web/tmp/
Comet.Web/temp/
Comet.Web/hooks/
Comet.Web/platforms/
Comet.Web/plugins/
Comet.Web/plugins/android.json
Comet.Web/plugins/ios.json
Comet.Web/www/
Comet.Web/$RECYCLE.BIN/

Comet.Web/.DS_Store
Comet.Web/Thumbs.db
Comet.Web/UserInterfaceState.xcuserstate

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

.vs/
packages/
Comet.Android/bin
Comet.Android/obj
Comet.Android/Assets/www

Comet.Ios/bin
Comet.Ios/obj
Comet.Ios/Views

Comet.Web/bin

JpushJarBinding/bin
JpushJarBinding/obj
